black==21.12b0
certifi==2021.10.8
charset-normalizer==2.0.9
flake8==4.0.1
idna==3.3
mccabe==0.6.1
mypy-extensions==0.4.3
pathspec==0.9.0
py-cui==0.1.4
pycodestyle==2.8.0
pyflakes==2.4.0
requests==2.26.0
tomli==1.2.3
typing_extensions==4.0.1
urllib3==1.26.7